@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

h1 {
  position: absolute;
  top: 50px;
  font-family: 'omyu_pretty';
  font-size: 60Px; 
}

main{
    position: absolute;
    top:200px;
    
    text-align: center;

    background-color: rgb(178, 213, 243);
    width: 540px;
    height: 400px;
}

main img{
   position:absolute;
    top:20px;
    left: 180px;

    width:180px;
    height:180px;
    border-radius: 50%;
    border: 5px solid black;
    
   
}

main section{
   
    position:absolute;
    top:50%;
    left:20px;
    width:500px;
}

main div{
    
    position: absolute;
    bottom:10px;
    width: 180px;
    left: 180px;

}

#introduceText{
    font-family: 'omyu_pretty';
    font-size: 25px;
}


#characterName{
    font-family: 'omyu_pretty';
    font-size: 33px;
    
}
