body{
    
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: grid;
}

h1{ 
    transform: translateY(-50px);
    text-align: center;
}

#characterImange{
    width:10px;
    height: 10px;
    
}


main{
    transform: translateY(-300px);
    text-align: center;
    border: 10px;
    background-color: aquamarine;
    width :150px;
    height :100px;
}








/*translate? sition? 써보기*/